.logo {
    height: 50px;
}
nav {
    width: 100%;
    height: 20vh;
    display: flex ;
    align-items:flex-end;
    justify-content: space-between;
    background-color: rgb(87, 144, 154);
}
.left-btn {
    width: 700px;
}
.right-btn{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100%;
}
main, .drinkCard  {
    font-family: 'Varela Round', serif;

}
.fa-solid {
    padding: 20px;
    color: white
}
.fa-caret-down,.fa-user{
    padding: 5px;
}
.recipeLink {
    align-content: center;
    border-radius: 10px;
    margin:auto;
    width: 80%;
    height: 50px;
    background-color: rgba(139, 139, 145, 0.8);
}
.drinkCard {
    height: 300px;
    width: 220px;
    border: solid 2px rgba(139, 139, 145);
    border-radius: 10px;
    box-shadow: 8px 8px 1px -1px rgba(139, 139, 145, 0.2);
}

table {
    border-spacing: 20px;
    width: 100%;
    margin: 0em;
}
  
td {
    text-align: left;
    padding: 8px;
    margin: 5px;
    word-wrap: break-word;
}
  
.drinkPhoto {
    width: 100%;
    height: 150px;
    margin-top: 0;
    object-fit:contain;
    border-radius: 10px;
    background-color: gainsboro;
    
}
.linkText {
    padding: 15px;
    font-size: smaller;
    color: aliceblue;
    text-align: center;
    margin: 5px;

}
h3, h5, .description, .drinkName, p {
    margin-block: 5px
}

h4 {
    margin-top:2em;
    margin-bottom: 5px;
}

.description {
    font-size:smaller;
    margin-bottom: 1em;
}

.fa-beat-animation-duration {
    animation-duration: 100ms;
}

.rating {
    font-size: xx-large;
    color:cornflowerblue
}

button {
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.dropdown {
    position: relative;
    display: inline-block;
}
  

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
  
.dropdown-content a:hover {
    background-color: #ddd;
}
  

.dropdown:hover .dropdown-content {display: block;}

button:hover .fa-solid {
    color: rgb(29, 23, 138);
    animation: color-change 1s ;
}
@keyframes color-change {
    0% { color:aquamarine; }
    50% { color:cadetblue; }
    100% { color:rgb(29, 23, 138); }
}

.drinkCard:hover {
    transform: rotate(4deg)
}